@page "/"

@using Quotes.UI.DTO
@using Quotes.UI.QuotesServices
@inject IQuotesApiService QuotesApiService
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
<PageTitle>Quotes</PageTitle>

<MudGrid>
    <MudItem xs="12">
        <MudCard>
            <MudCardContent>
                <div class="d-flex flex-row justify-content-between">
                    <MudText Typo="Typo.h6" Style="color:dimgrey"><span><MudIconButton Icon="@Icons.Material.Filled.Search" OnClick="@(()=>isSearchExpanded = !isSearchExpanded)"></MudIconButton></span>Search Quotes</MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowDropDown" Color="Color.Primary" OnClick="@(()=>isSearchExpanded = !isSearchExpanded)"></MudIconButton>
                </div>
                <MudCollapse Expanded="@isSearchExpanded">
                    <QuoteForm @ref="quoteForm"
                               Author="@searchAuthor"
                               AuthorChanged="OnAuthorChanged"
                               Tags="@searchTags"
                               TagsChanged="OnTagsChanged"
                               QuoteContent="@searchContent"
                               QuoteContentChanged="OnQuoteContentChanged"
                               EnableValidation="false" />
                    <div class="d-flex flex-row justify-content-center mt-2">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SearchQuotes" Class="mr-2">Search</MudButton>
                        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="clearSearch" Class="ml-2">Clear Search</MudButton>
                    </div>
                </MudCollapse>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12">
        <div class="d-flex flex-row justify-content-between mt-1 mb-1">
            <div class="d-flex align-content-center">
                <MudText Typo="Typo.h4" Style="color:var(--Heading-Text)">Inspirational Quotes</MudText>
                <MudIconButton Icon="@Icons.Material.Filled.Sync" Color="Color.Primary" OnClick="LoadQuotes"></MudIconButton>
            </div>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddQuote">Add Quote</MudButton>
        </div>
    </MudItem>
    <MudItem xs="12">
        <MudTable AllowUnsorted="true" Items="quotes" Hover="true" Striped="true" Bordered="true" SortLabel="Sort By">
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<QuoteDto, object>(x=>x.Author)">Author</MudTableSortLabel></MudTh>
                <MudTh>Tags</MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<QuoteDto, object>(x=>x.QuoteContent)">Quote</MudTableSortLabel></MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Author</MudTd>
                <MudTd>@string.Join(", ", @context.Tags)</MudTd>
                <MudTd>@context.QuoteContent</MudTd>
                <MudTd>
                    <div class="d-flex justify-content-around p-1">
                        <MudIconButton Icon="@Icons.Material.Filled.RemoveRedEye" Color="Color.Primary" OnClick="@(()=>ViewQuoteDetails(context))"></MudIconButton>
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" OnClick="@(()=>EditQuote(context.Id))"></MudIconButton>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Secondary" OnClick="@(()=>ConfirmDeleteQuote(context.Id))"></MudIconButton>
                    </div>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 10, 25 }" />
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>